html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    background-color: #FFF0F5;
}

header {
    background-color: #FFF0F5;
    font-size: 25px;
    position: relative;
    z-index: 999;
    top: 0;
    font-family:  "Alegreya", serif ;
}

.header_menu {
    font-weight: 700;
    display: flex;
}

.header_menu ul {
    height: 60px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_menu ul li {
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header_menu ul li a {
    display: inline-block;
    line-height: 60px;
    position: relative;
    color:#db7093;
    font-size: 1.5vw;
    text-decoration: none;
}

.header_menu ul li a:hover {
    color: #f77456;
}

.header_menu ul li a:visited {
    color: #f39b88;
}
  
.header_menu ul li a:active {
    color:rgb(149, 63, 152);
    transition: color 0.3s ease;
}

.cont {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.hh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 100;
}

.header_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 35px;
}

.contact {
    margin-left: 10px;
}

.mobile {
    display: flex;
    align-items: center;
    font-weight: 700;
    color:#81314c;
}

.header_phone {
    line-height: 0;
    color:rgb(91, 38, 92);
}

.header_phone a {
    display: inline-block;
    font-weight: 700;
    line-height: 44px;
    text-decoration: none;
    color: rgb(91, 38, 92);
    transition: color .3s ease;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-color: #f19ad8;
    border-radius: 10px;
}
   
::-webkit-scrollbar-track {
    background-color: #f9eef6;
}

footer {
    text-align: center;
    background-color: #db7093;
    color: #DBC3DB;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: larger;
    height: 5%;
}
  
.day {
    margin-bottom: 10px;
    margin-top: 10px;
}