* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 30px;
    font-family:  "Alegreya", serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #db7093;
    background-image: url('./фон.jpg');
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-size: 2vw;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(15, 3vw);
    grid-template-rows: repeat(15, 2.5vw);
    gap: 1px;
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #f39b88;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

.controls {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

input {
    width: 35%;
    padding: 1vw;
    margin-bottom: 2vw;
    border: 2px solid #FF9BAA;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 2vw rgba(222, 76, 138, 0.26);
    font-size: 1vw;
}

input::placeholder {
    color: #78163F;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

input:focus::placeholder {
    color: #2c0435;
}

button {
    display: inline-block;
    font: 300 1.3em 'Open Sans';
    text-decoration: none; 
    color: #f39b88;
    background-color: transparent;
    border: 2px solid #f39b88;
    border-radius: 100px;
    padding: .3em 1.2em;
    margin: 20px;
    background-size: 200% 100%; 
    background-image: linear-gradient(to right, transparent 50%, #f39b88 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  }
  
  button {
    text-decoration: none;
    color: #f39b88;
  }

  button:hover {
    color: rgba(255, 255, 255, 1)
  }

  button:hover{
    color:rgba(255, 255, 255, 1);
    background-color:#f39b88;
    background-position: -100% 100%;
  }