html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    background-color: #FFF0F5;
}

header {
    background-color: #7F4870;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
header a {
    color: #f7cbdd;
    font-size: 2vw;
    text-decoration: none;
}
  
a:visited {
    color: rgb(195, 169, 217);
}
  
a:hover {  
    color: rgb(128, 128, 193);
}
  
a:active {
    color:rgb(149, 63, 152);
    transition: color 0.3s ease;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-color: #f19ad8;
    border-radius: 10px;
}
   
::-webkit-scrollbar-track {
    background-color: #f9eef6;
}