html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    background-color: #FFF0F5;
}

header {
    background-color: #FFF0F5;
    font-size: 25px;
    position: relative;
    z-index: 999;
    top: 0;
    font-family:  "Alegreya", serif ;
}

.header_menu {
    font-weight: 700;
    display: flex;
}

.header_menu ul {
    height: 60px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_menu ul li {
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header_menu ul li a {
    display: inline-block;
    line-height: 60px;
    position: relative;
    color:rgb(91, 38, 92);
    font-size: 1.5vw;
    text-decoration: none;
}

.header_menu ul li a:hover {
    color: rgb(128, 128, 193);
}

.header_menu ul li a:visited {
    color: rgb(174, 124, 219);
}
  
.header_menu ul li a:active {
    color:rgb(149, 63, 152);
    transition: color 0.3s ease;
}

.cont {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.hh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 100;
}

.header_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 35px;
}

.contact {
    margin-left: 10px;
    color:#2a1b2f;
}

.mobile {
    display: flex;
    align-items: center;
    font-weight: 700;
    color:rgb(91, 38, 92);
}

.header_phone {
    line-height: 0;
    color:rgb(91, 38, 92);
}

.header_phone a {
    display: inline-block;
    font-weight: 700;
    line-height: 44px;
    text-decoration: none;
    color: rgb(91, 38, 92);
    transition: color .3s ease;
}

  
a:visited {
    color: rgb(195, 169, 217);
}
  
a:hover {  
    color: rgb(128, 128, 193);
}
  
a:active {
    color:rgb(149, 63, 152);
    transition: color 0.3s ease;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-color: #f19ad8;
    border-radius: 10px;
}
   
::-webkit-scrollbar-track {
    background-color: #f9eef6;
}

.container {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 15px;
}
  
.container > img {
    grid-column: 1;
    align-self: center;
    justify-self: right;
    max-width: 70px;
    border-radius: 10px;
    border: 4px solid #7F4870;
}
  
.text {
    grid-column: 2; 
    align-self: center;
    justify-self: center;
    color: #663E59;
    text-shadow: 5px 5px 3px rgba(222,76,138,0.85);
    font-size: 2.5vw;
    -webkit-text-stroke: 0.5px #B784A7;
    font-family: "Alegreya", serif;
}

.introduction {
    color: #78163F;
    font-family: "Alegreya", serif;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

fieldset {
    border: 3px solid purple;
    margin-bottom: 10px;
}
  
label {
    display: block;
    margin: 10px 10px 5px;
    font-size: 1.5vw;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #663E59;
    font-weight: bolder;
}
  
input {
    width: 100%;
    height: auto;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #f19ad8;
    border-radius: 10px;
    box-shadow: 10px 10px 19px 3px rgba(222, 76, 138, 0.26);
}
  
input::placeholder {
    color: #78163F;
    /* font-style: italic; */
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
  
input:focus::placeholder {
    color: #2c0435;
}
  
input[required]{
    border: 2px solid rgb(255, 0, 179);
}

/* .reg {
    background-color: #663E59;
    color: #FFF0F5;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 3em;
    font-family: "Alegreya", serif;
    font-size: larger;
    margin-left: 20px;
} */
  
/* .sbros {
    background-color: #DB2222;
    color: #FFF0F5;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 3em;
    font-family: "Alegreya", serif;
    font-size: larger;
    margin-left: 20px;
} */
  
/* button:hover {
    background-color: #ef83d1;
    border: 3px solid #663E59;
    color:#2a1b2f;
    transform: translateY(-10px);
}
  
button:active {
    background-color: pink;
}
  
button:focus {
    text-decoration: underline;
} */

footer {
    text-align: center;
    background-color: #7F4870;
    color: #DBC3DB;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: larger;
    height: 5%;
}
  
.day {
    margin-bottom: 10px;
    margin-top: 10px;
}

.reg{
    display: inline-block;
    font: 300 1.3em 'Open Sans';
    text-decoration: none; 
    color: rgb(222, 112, 236);
    background-color: transparent;
    border: 2px solid rgb(222, 112, 236);
    border-radius: 100px;
    padding: .3em 1.2em;
    margin: 20px;
    background-size: 200% 100%; 
    background-image: linear-gradient(to right, transparent 50%, rgb(222, 112, 236) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  }
  
  .reg:hover{
    color:rgba(255, 255, 255, 1);
    background-color:rgb(222, 112, 236);
    background-position: -100% 100%;
  }

  .sbros{
    display: inline-block;
    font: 300 1.3em 'Open Sans';
    text-decoration: none; 
    color: #DB2222;
    background-color: transparent;
    border: 2px solid  #DB2222;
    border-radius: 100px;
    padding: .3em 1.2em;
    margin-bottom: 50px;
    background-size: 200% 100%; 
    background-image: linear-gradient(to right, transparent 50%,  #DB2222 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  }
  
  .sbros:hover{
    color:rgba(255, 255, 255, 1);
    background-color: #DB2222;
    background-position: -100% 100%;
  }