html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #FFF0F5;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    font-family:  "Alegreya", serif ;
    width: 100%;
}

.header_menu {
    font-weight: 700;
    display: flex;
}

.header_menu ul {
    height: 60px;
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_menu ul li {
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header_menu ul li a {
    display: inline-block;
    line-height: 60px;
    position: relative;
    color:#db7093;
    font-size: 1.5vw;
    text-decoration: none;
}

.header_menu ul li a:hover {
    color: #f77456;
}

.header_menu ul li a:visited {
    color: #f39b88;
}
  
.header_menu ul li a:active {
    color:rgb(149, 63, 152);
    transition: color 0.3s ease;
}

.cont {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    position: relative;
}

.header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 100px;
}

.header_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 4vw;
}

h1 {
    color: #81314c;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px; 
    font-weight: 500;
}

.contact {
    margin-left: 10px;
}

.mobile {
    display: flex;
    align-items: center;
    font-weight: 700;
    color:#81314c;
    width: 3vw;
    font-size: 1.4vw;
}

.header_phone {
    line-height: 0;
    color:rgb(91, 38, 92);
    font-size: 1.5vw;
}

.header_phone a {
    display: inline-block;
    font-weight: 700;
    line-height: 44px;
    text-decoration: none;
    color: rgb(91, 38, 92);
    transition: color .3s ease;
    font-size: 1.5vw;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-color: #f19ad8;
    border-radius: 10px;
}
   
::-webkit-scrollbar-track {
    background-color: #f9eef6;
}

body {
    font-family:  "Alegreya", serif ;
    color: #db7093;
    background-image: url('фон2.jpg'); 
    background-size: cover;
}

.glasses {
    margin-top: 125px;
    background-color: white;
    transition: width 0.3s ease; 
    width: 50px; 
    height: 50px; 
    padding: 5px; 
    border-radius: 10px; 
}

.glasses a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%; 
}

.glasses img {
    width: 50px; 
    height: auto;
    transition: transform 0.3s ease; 
}

.glasses span {
    font-weight: 700;
    opacity: 0; 
    margin-left: 10px;
    font-size: 18px;
    transition: opacity 0.3s ease; 
}

.glasses:hover {
    width: fit-content; 
}

.glasses:hover span {
    opacity: 1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 600px;
    align-items: center;
    justify-items:center;
    margin-top: 50px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
    gap: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2vw;
}

.game-board {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(15, 2.5vw);
    grid-template-rows: repeat(15, 2.5vw);
    gap: 2px;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #f39b88;
    cursor: pointer;
}
.cell:hover {
    background-color: #db7093;
}
.two {
    width: 80%; 
    max-width: 600px; 
    grid-column: 2;
    display: flex;
    flex-direction: column ;
}
.controls {
    margin-top: 20px;
}

input {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 1.4vw;
    padding: 1vw;
    margin-bottom: 2vw;
    border: 2px solid #FF9BAA;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 2vw rgba(222, 76, 138, 0.26);
    font-size: 1vw;
}

input::placeholder {
    color: #78163F;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

input:focus::placeholder {
    color: #2c0435;
}

button {
    grid-column: 2;
    display: inline-block;
    font: 300 1.3em 'Open Sans';
    text-decoration: none; 
    color: #f39b88;
    background-color: transparent;
    border: 2px solid #f39b88;
    border-radius: 100px;
    padding: .3em 1.2em;
    margin: 20px;
    background-size: 200% 100%; 
    background-image: linear-gradient(to right, transparent 50%, #f39b88 50%);
    transition: 
        background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, 
        color 0.5s ease 0s, 
        background-color 0.5s ease;
  }
  
  button {
    text-decoration: none;
    color: #f39b88;
  }

  button:hover {
    color: rgba(255, 255, 255, 1)
  }

  button:hover{
    color:rgba(255, 255, 255, 1);
    background-color:#f39b88;
    background-position: -100% 100%;
  }
p {
    font-size: 25px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.pravila {
    background-color: rgba(255, 255, 255, 0.658);
    border: 3px solid lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
  .button-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
  }
  @media (max-width: 1400px) and (min-width:768px) {
    .header_logo {
        left: 45%;
    }

    h1 {
        font-size: 28px;
    }
 
    .mobile {
        width: 6vw;
    }

    .header_menu ul li a {
        font-size: 18px;
    }

    .header_menu ul {
        flex-direction: column;
        align-items: flex-start; 
    }
    .header_menu ul li {
        height: 15px;
        margin-right: 0;

    }
    .header_right {
        flex-direction: column;
        margin-right: 60px;
        gap: 10px
    }
    .header_phone {
        font-size: 20px;
    }
    header {
        height: 105px;
    }
    .container {
        grid-template-columns: 1fr 1fr; 
    }
    .two {
        width: 75%;
    }
    h2 {
       
       font-size: 30px;
    }
    p {
        font-size: 16px;
    }
    span {
        font-size: 20px;
    }
    .contact {
        font-size: 20px;
    }
}

@media (max-width: 768px) and (min-width: 450px){
    .header_logo {
        left: 45%;
    }
    .glasses {
        height: auto;
        margin-top: 140px;
        padding: 2px;
    }
    h1 {
        font-size: 16px;
    }
    .mobile {
        width: 6vw;
    }
    .header_menu ul li a {
        font-size: 16px;
    }
    .header_menu ul {
        flex-direction: column;
    }
    .header_menu ul li {
        height: 15px;
        margin-right: 0;
    }
    .header_right {
        flex-direction: column;
        margin-right: 40px;
        gap: 10px;
    }
    .header_phone {
        font-size: 18px;
    }
    header {
        height: 105px;
    }
    span {
        font-size: 16px;
    }
    .contact {
        font-size: 16px;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .two {
        width: 80%;
    }
    button {
        font-size: 13px;
    }
    input::placeholder {
        font-size: 12px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    .game-board {
        grid-template-columns: repeat(15, 4vw);
        grid-template-rows: repeat(15, 4vw);
    }
    .container {
        grid-template-columns: 1fr;
    }
    .glasses {
        height: auto;
        padding: 2px;
    }
    h1 {
        font-size: 14px;
    }
    .mobile {
        width: 6vw;
    }
    .header_menu ul li a {
        font-size: 12px;
    }
    .header_menu ul {
        flex-direction: column;
    }
    .header_menu ul li {
        height: 13px;
        margin-right: 0;
    }
    .header_right {
        flex-direction: column;
        margin-right: 10px;
        gap: 5px;
        margin-top: 30px;
    }
    .header_phone {
        font-size: 14px;
    }
    header {
        height: 105px;
    }
    span {
        font-size: 14px;
    }
    .contact {
        font-size: 14px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .two {
        grid-column: 1;
        width: 80%;
    }
    button {
        font-size: 13px;
    }
    input::placeholder {
        font-size: 12px;
    }
}
